<h3>Create Employee</h3>
<form>
  <div class="container-fluid">
    <div class="form-group" [formGroup]="CreateForm">
      <div class="row">
        <div class ="col col-md-2">
          <label >Employee Id </label>
        </div>
        <div class ="col col-md-2">
          <input type="text" class="form-control"  name ="EmployeeId" formControlName="EmployeeId" />
        </div>
      </div>
      <div class="row">
        <div class ="col col-md-2">
          <label>First Name </label>
        </div>
        <div class ="col col-md-2">
          <input type="text" class="form-control" name ="FirstName" formControlName="FirstName" />
        </div>
      </div>
      <div class="row">
        <div class ="col col-md-2">
          <label>Last Name </label>
        </div>
        <div class ="col col-md-2">
          <input type="text" class="form-control"  name ="LastName"  formControlName="LastName" />
        </div>

      </div>
      <div class="row">
        <div class ="col col-md-2">
          <label>City </label>
        </div>
        <div class ="col col-md-2">
          <input type="text" class="form-control"  name ="City" formControlName="City" />
        </div>

      </div>
      <div class="row">
          <div class="col-md-2">
             <button type="submit" class= "btn btn-lg btn-block btn-primary"
              >Create</button>
          </div>
      </div>
    </div>
  </div>
</form>
