<p>Employee Details</p>
<div class="row align-items-start">
    <span class="pull-left col-md-2" >
    <a [routerLink]="['/employees/create']" class="btn btn-sm btn-info" id="CreateBtn"  >Create Employee</a>
</span>
</div>
<div class="container-fluid">
    <div class="row align-items-start ">
        <div class="col-md-2 col-heading">
        Employee ID 
        </div>
        <div class="col-md-2 col-heading">
            First Name
        </div>
        <div class="col-md-2 col-heading">
            Last Name 
        </div>
        <div class="col-md-2 col-heading">
            City
        </div>
        <div class="col-md-4 col-heading">
                    &nbsp;
        </div>
    </div>

    <div class="row align-items-start" *ngFor='let employee of employees'>
        <div class="col-md-2 col-format"> {{ employee.Id }}</div>
        <div class="col-md-2 col-format"> {{ employee.FirstName }}</div>
        <div class="col-md-2 col-format"> {{ employee.LastName }}</div>
        <div class="col-md-2 col-format"> {{ employee.City }}</div>
        <div class="col-md-4 col-format"> 
            <a [routerLink]="['/employees',employee.Id]" class="btn btn-sm btn-info"
                    id="ViewBtn{{employee.Id}}"  >View</a>
            <a [routerLink]="['/employees',employee.Id,'edit']" class="btn btn-sm btn-info"
                    id="EditBtn{{employee.Id}}"  >Edit</a>
            <a [routerLink]="['/employees',employee.Id,'delete']" class="btn btn-sm btn-info" 
                    id="DeleteBtn{{employee.Id}}"  >Delete</a></div>
    </div>
</div>  
